

.nav {
    background: var(--fondo);
}

.nav ul {
    display: flex;
}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: var(--texto);
    padding: 20px;
    display: inline-block;
}

.nav a:hover {
    background: var(--fondo-claro);
}